
@{
    ViewBag.Title = "Register";
}

<h2>註冊帳號</h2>
<hr>
@using (Html.BeginForm("NewRegister", "Home", FormMethod.Post, new { @id = "Create", @class = "form-signin" }))
{
    <h4 class="h4 mb-4 font-weight-normal">請選擇身分</h4>
    <select class="form-control" id="Identity" name="Identity"required>
        <option value="">請選擇</option>
        <option value="學生">學生</option>
        <option value="家長">家長</option>
    </select>
    <h4 class="h4 mb-4 font-weight-normal">帳號</h4>
    <label for="Account" class="sr-only">Account</label>
    <input type="text" name="Account" id="Account" class="form-control" placeholder="請輸入帳號" required="">

    <h4 class="h4 mb-4 font-weight-normal">密碼</h4>
    <label for="Password" class="sr-only">Password</label>
    <input type="text" name="Password" id="Password" class="form-control" placeholder="請輸入密碼" required="">

    <h4 class="h4 mb-4 font-weight-normal">暱稱</h4>
    <label for="UserName" class="sr-only">UserName</label>
    <input type="text" name="UserName" id="UserName" class="form-control" placeholder="請輸入您的暱稱" required="">

    <h4 class="h4 mb-4 font-weight-normal">備註</h4>
    <textarea rows="3" name="Memo" cols="40" placeholder="請在此表明自己身分，以便管理員進行身分核對。" required=""></textarea>

    <input type="text" name="RealMember" id="RealMember" hidden="" value="0" />
    <h3></h3>
    <button class="btn btn-primary " type="submit" onclick="NewRegister()">註 冊</button>
}

@section scripts{
    <script type="text/javascript">

        var message = '@ViewData["Message"]';
        if (message != null && message != '')
        {
            alert(message);
        };
        var Login = '@Session["Login"]';
        

    </script>
}
@*location.href = '@Url.Action("NewRegister","Home")'; 連結至method的另一寫法 *@
